@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --accent-color: #6200ee;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.div-main {
  background: #667db6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}

.div-main h2 {
  padding: 4rem 0;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 28px;
  margin-block-start: 0;
  color: #dcdcdc;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 95%;
  max-width: 300px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 8%), 0 0 15px 0 rgb(0 0 0 / 2%), 0 0 20px 4px rgb(0 0 0 / 6%);
}

.input-container {
  background-color: #f5f5f5;
  position: relative;
  border-radius: 4px 4px 0 0;
  height: 56px;
  transition: background-color 500ms;
}

.input-container:hover {
  background-color: #ececec;
}

.input-container:focus-within {
  background-color: #dcdcdc;
}

label {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  color: rgba(0, 0, 0, 0.5);
  transform-origin: left top;
  user-select: none;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1), top 500ms;
}

input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: transparent;
  caret-color: var(--accent-color);
  border: 1px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.42);
  color: rgba(0, 0, 0, 0.87);
  transition: border 500ms;
  padding: 20px 16px 6px;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-bottom-width: 2px;
  border-bottom-color: var(--accent-color);
}

input:focus+label {
  color: var(--accent-color);
}

input:focus+label,
input.is-valid+label {
  transform: translateY(-100%) scale(0.75);
}

body :not(div):not(span) {
  font-weight: bold;
}

@media screen and (max-width: 425px) {
  .form-container {
    height: 100vh;
    width: 90%;
    margin: 0 auto;
  }

  form {
    width: 85%;
    max-width: 250px;
  }

  .input-container {
    height: 45px;
  }
}